<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <h2>Sprites : </h2>
    <div class="container">
        <div class="sprite">
            <div class="name">Name : sprite1</div>
            <div class="infos">
                <div class="hp">
                    hp : <meter max="200" min="0" value="72"></meter> 36% (72/200)
                </div>
                <div class="attack">
                    <span class="damage">Damage : 1500</span>
                </div>
                <div class="weapons">
                    <div class="weapon">
                        <span>Name :Pistol </span>
                        <span>Damage : 1200</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>