{% extends "base.html" %}

{% block title %}
    {{l}}  users in this plateform !!
{% endblock title %}
    {% block H %}
        {{super()}}
    {% endblock H %}
{% block content %}
<form action="/register" method="post" >
    Username :  <input type="text" name="username">
    <br>
    Email : <input type="email" name="email" id="">
    <br>
    <span style="color : red;">
        {{e_error}}
    </span>
    <br>
    Password : <input type="password" name="password" id="">
    <br>
    <span style="color : red;">
        {{p_error}}
    </span>
    <br>
    <textarea name="bio" id="" cols="30" rows="10">
        Hi there im new at this fking plateform
    </textarea>
    <input type="submit" value="Register">
</form>
<hr>
<div>
    Already have account ? <a href="/login"> Login !!</a>
</div>
{% endblock content %}