{% extends "base.html" %}

{% block title %}
    {{l}}  users in this plateform !!
{% endblock title %}
    {% block H %}
        {{super()}}
    {% endblock H %}
{% block content %}
    <h1>Found {{l}} users </h1>
        {% for user in users %}
            <div class="profile">
                <h2 class="name"> {{user['username']}}</h2>
                <div class="created_at">
                    Created at : <span style="opacity: 0.5;color : gray;"> {{user['created_at']}}</span>
                </div>
                <div class="">
                    <p>Bio : </p>
                    <textarea style="padding: 20px 20px ;">
                        {{user['bio']}}
                    </textarea>
                </div>
                {% if current_user.role == "admin" %}
                    <a href="/users/delete/{{email}}"></a>
                {% endif %}
            </div>
        {% endfor %}
{% endblock content%}
